{{#if warningMsg}}
<div class="alert alert-primary alert-dismissible fade show" role="alert">
  <strong>{{ warningMsg }}</strong>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
{{/if}}

{{#if successMsg}}
<div class="alert alert-info alert-dismissible fade show" role="alert">
  <strong>{{ successMsg }}</strong>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
{{/if}}

{{#if errorMsg}}
{{#each errorMsg}}
<div class="alert alert-danger alert-dismissible fade show" role="alert">
  <strong>{{ this }}</strong>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
{{/each}}
{{/if}}