<h4>請輸入一筆支出</h4>
<form action="/records" method="POST">
  <label for="name">名稱：</label>
  <input type="text" name="name" id="name" required>
  <label for="date">日期：</label>
  <input type="date" name="date" id="date" required>

  <label for="category">類別</label>
  <select name="category" id="category" required>
    <option disabled selected>請選擇類別</option>
    {{#each categories}}
    <option value="{{ this.title }}" name="{{ this.title }}">{{ this.title }}</option>
    {{/each}}
  </select>
  <label for="amount">金額：</label>
  <input type="number" name="amount" id="amount" required>
  <button type="submit">送出</button>
</form>